<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../style/style.css">
    </head>
    <body>
        <header>
            <nav class="block">
                <div class="flex">
                    <div>
                        <h1><a href="../../index.html"><img src="../images/logo.jpg"></a></h1>
                    </div>
                    <div>
                        <p id="name"></p>
                    </div>
                    <div>
                        <a href="profile.html">profile</a>
                    </div>
                </div>
                <div class="flex">
                    <div>
                        <a href="../../index.html">Start seite</a>
                    </div>
                    <div>
                        <a href="rp.html">Reserviere einen Parkplatz oder Raum</a>
                    </div>
                    <div>
                        <a href="rp-admin.html">Admin</a>
                    </div>
                    <div>
                        <a id="login" href="#" class="underlined">Login/Logout</a>
                        <script src="../controler/login-access.js"></script>
                    </div>
                    <div>
                        <a href="users.html">users Admin</a>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="black-box">
                <h1>LOGIN</h1>
                <table>
                    <tr>
                        <td><h2>Name:</h2></td>
                        <td><h2><input id="username"></h2></td>
                    </tr>
                    <tr>
                        <td><h2>Password:</h2></td>
                        <td><h2><input id="password" type="password"></h2></td>
                    </tr>
                    <tr>
                        <td><button id="login-form">CONFIRM</button></td>
                        <td><button id="cancel">CANCEL</button></td>
                    </tr>
                </table>
            </div>
        </main>
        <script src="../controler/login-page.js"></script>
    </body>
</html>
